@import './vars.scss';

body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: #10171d;
  color: #dfdfdf;
  transition: background-color 0.3s ease;


  .header_area .main-menu .navbar .navbar-brand{
    color: rgba(255,255,255,.5);
}

  .site-banner .site-title h3::after {
    background:white;
}


.typewriter{
  color: $primary-color2;
}

.circles li{
filter: invert(58%) sepia(89%) saturate(1853%) hue-rotate(150deg) brightness(106%) contrast(103%);
}

.project-area .button-group button{
 color:$secondary-color ;
}

footer.footer-area{
  padding: 5rem 0;
  background: url('/images/footer-bg-dark.png') no-repeat;
}

footer.footer-area .social a > i{
  color: white;
}


footer.footer-area .social a:hover > i{
  color: $primary-color2;
}

}

.button{
  padding: .8rem 2.2rem;
  font: normal 500 16px/20px $main-font;
  position: relative;
  border: 3px solid transparent;
  border-radius: 4px;
}

.button.primary-button{
  background: $gradient-color;
  background-clip: padding-box;
  color: whitesmoke;
  transition: background .6s ease;
  box-shadow: $box-shadow;
}

.button.primary-button:hover{
  background: white;
  background-clip: padding-box;
  color: black;
}

.button.primary-button::after, .button.secondary-button::after{
  position: absolute;
  top: -2px; left: -2px;
  bottom: -2px;  right: -2px;
  background: $gradient-color;
  content: ' ';
  z-index: -1;
  border-radius: 4px;
}

.button.secondary-button{
  background: white;
  background-clip: padding-box;
  transition: background .6s ease;
}

.button.secondary-button:hover{
  background:$gradient-color;
  background-clip: padding-box;
  color: whitesmoke;
  transition: background .6s ease;
  box-shadow: $box-shadow;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p.para{
  color: $text-color;
  font: normal 500 16px/ 25px $main-font;
}
